Node-RED/slack-flow.json
[
   {
      "id":"1529c468.6eda0c",
      "type":"chatbot-slack-receive",
      "z":"368159ea.4fa426",
      "bot":"7d9ffd2.96c5f04",
      "x":201,
      "y":350,
      "wires":[
         [
            "1743e6d5.e17d39"
         ]
      ]
   },
   {
      "id":"1743e6d5.e17d39",
      "type":"change",
      "z":"368159ea.4fa426",
      "name":"Update Payload",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"payload.content",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":403,
      "y":402,
      "wires":[
         [
            "702e331d.ec8f9c"
         ]
      ]
   },
   {
      "id":"702e331d.ec8f9c",
      "type":"watson-conversation-v1",
      "z":"368159ea.4fa426",
      "name":"",
      "workspaceid":"efca2e61-fda8-4d27-9ec7-750aa4405fd6",
      "multiuser":false,
      "context":true,
      "default-endpoint":true,
      "service-endpoint":"https://gateway.watsonplatform.net/conversation/api",
      "x":596,
      "y":342,
      "wires":[
         [
            "a4543da1.ee676"
         ]
      ]
   },
   {
      "id":"a4543da1.ee676",
      "type":"function",
      "z":"368159ea.4fa426",
      "name":"Postprocessing",
      "func":"var output = msg.payload.output.text;\nfor (var t in output) {\n    msg.payload = output[t];\n    node.send(msg);\n}\nreturn ;",
      "outputs":1,
      "noerr":0,
      "x":781,
      "y":408,
      "wires":[
         [
            "ead0636b.5da83"
         ]
      ]
   },
   {
      "id":"ead0636b.5da83",
      "type":"chatbot-message",
      "z":"368159ea.4fa426",
      "name":"Construct Message",
      "message":[

      ],
      "answer":false,
      "track":false,
      "parse_mode":"",
      "x":961,
      "y":340,
      "wires":[
         [
            "7ee6c74c.40d048"
         ]
      ]
   },
   {
      "id":"7ee6c74c.40d048",
      "type":"chatbot-slack-send",
      "z":"368159ea.4fa426",
      "bot":"7d9ffd2.96c5f04",
      "x":1143,
      "y":398,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"7d9ffd2.96c5f04",
      "type":"chatbot-slack-node",
      "z":"",
      "botname":"fsabot-gw",
      "usernames":""
   }
]
